/AssetsService.Core/obj
/AssetsService.Core/bin
/AssetsService.Infrastructure/bin
/AssetsService.Infrastructure/obj
/AssetsService.UnitTests/bin
/AssetsService.UnitTests/obj
/AssetsService/bin
/AssetsService/obj
/AssetsService.Application/obj
/AssetsService.Application/bin
/.vs
/.vscode
/AssetsService/Log/
/AssetsService/app
/AssetsService/Log
/AssetsService/AssetsService.Api.csproj.user
